<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SEARCH_LOG" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5001</destination> <!-- Logstash TCP 포트 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="SearchLogger" level="INFO" additivity="false">
        <appender-ref ref="SEARCH_LOG" />
    </logger>

</configuration>