<configuration>
    <appender name="SEARCH_LOG" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5001</destination> <!-- Logstash TCP 포트 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="SearchLogger" level="INFO" additivity="false">
        <appender-ref ref="SEARCH_LOG" />
    </logger>
</configuration>